{% extends "base.html" %}

{% block conteudo %}

<h2>Atualizar Senha</h2>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <label for="password">Senha Atual:</label>
        <input type="password" name="password" required><br>

        <label for="new_password">Nova Senha:</label>
        <input type="password" name="new_password" required><br>

        <button type="submit">Atualizar Senha</button>

    </form>

    <!-- <script>
        setTimeout(function() {
            window.location.href = "{% url 'perfil' %}";  // Código JavaScript para redirecionar o usuario para a página de perfil após 3 segundos
        }, 3000);  // 3000 milissegundos = 3 segundos
    </script> -->

</div>

<br/>

<a href="{% url 'perfil' %}">
    <button>Voltar para o perfil</button>
</a>


{% endblock conteudo %}