{% extends "base.html" %}

{% block conteudo %}

    <h1>Atualizar Cadastro</h1>
    
    <form method="POST" action="{% url 'atualizar_cadastro' %}">
        {% csrf_token %}
        
        <!-- <label for="password">Senha:</label>
        <input type="password" name="password" required> -->
        
        <label for="email">E-mail:</label>
        <input type="email" name="email" value="{{ user.email }}" required>
        
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" value="{{ user.cpf }}" required>
        
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" value="{{ user.endereco }}" required>
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ user.nome }}" required>
        
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome" value="{{ user.sobrenome }}" required>
        
        <label for="sexo">Sexo:</label>
        <input type="text" name="sexo" value="{{ user.sexo }}" required>
        
        <label for="data_nascimento">Data de Nascimento:</label>
        <input type="date" name="data_nascimento" value="{{ user.data_nascimento }}" required>
        
        <input type="submit" value="Atualizar">
    </form>
    <a href="{% url 'perfil' %}">
        <button>Voltar para o perfil</button>
    </a>

{% endblock conteudo %}
